In [1]:
import pandas as pd
from pathlib import Path
from peaks import fetch_patient_eegs, find_peaks_band_pass_filter

data_folder = '/home/jtt/Documents/datasets/brain_eegs_nafiul/patients'

In [2]:
patient_id = 'ep129'
sample_id = 'sample1'

df_eegs = fetch_patient_eegs(data_folder, patient_id, sample_id)

In [3]:
peaks = find_peaks_band_pass_filter(df_eegs)

In [17]:
peaks

[{16: []},
 {17: []},
 {18: [15599]},
 {19: []},
 {20: [40232, 99274]},
 {21: [92093]},
 {22: []},
 {23: []},
 {25: []},
 {26: []},
 {27: []},
 {28: [40233, 56547, 99274]},
 {29: []},
 {30: []},
 {31: []},
 {32: []},
 {33: []},
 {34: []},
 {35: []},
 {36: [92245]},
 {37: []},
 {38: [99364]},
 {39: []},
 {40: []},
 {41: []},
 {42: []},
 {43: []},
 {44: [56548]},
 {45: []},
 {46: []},
 {47: []},
 {48: []},
 {49: []},
 {50: []},
 {51: []},
 {52: []},
 {53: [40228, 99271, 109457]},
 {54: [99271]},
 {55: [99270]},
 {72: []},
 {73: []},
 {74: []},
 {75: []},
 {76: []},
 {77: []},
 {78: []},
 {79: []},
 {80: []},
 {81: []},
 {82: []},
 {83: []},
 {84: []},
 {85: []},
 {86: []},
 {87: []},
 {88: []},
 {89: [13952]},
 {90: []},
 {91: []},
 {92: []},
 {93: []},
 {94: []},
 {95: [13952]},
 {96: []},
 {97: []},
 {98: []},
 {99: []},
 {100: []},
 {101: []},
 {102: []},
 {103: []},
 {104: []},
 {105: []},
 {106: []},
 {107: []},
 {108: []},
 {109: []},
 {110: []},
 {111: []}]

In [10]:
import sys

df_eegs.iloc[0].values.nbytes / 1000000

0.960512

In [11]:
df_eegs.shape

(79, 120064)

In [12]:
df_eegs.head()

,0,1,2,3,4,5,6,7,8,9,...,120054,120055,120056,120057,120058,120059,120060,120061,120062,120063
16,113.071075,-64.699234,-5.493331,158.543655,17.090364,-37.842949,161.290314,117.496254,-30.213324,122.989586,...,-13.733329,72.939232,-101.474037,-65.309608,93.539230,-44.404430,-126.499214,58.748127,23.346659,-147.556992
17,166.173279,-28.687397,21.668140,176.091797,20.447401,-49.745167,126.956993,65.157013,-99.032555,36.774803,...,36.622208,116.275513,-77.517014,-41.962948,115.054771,-26.093325,-112.613297,78.432564,34.333321,-139.011810
18,167.394012,-23.651844,28.229620,185.857712,39.368874,-25.635548,158.848831,100.100708,-59.053314,80.568863,...,7.934812,93.997002,-99.032555,-77.822197,88.503670,-36.622208,-115.054771,64.699234,25.482954,-149.540695
19,259.865082,70.650345,119.785141,269.783600,119.479958,52.644424,235.297699,175.328827,2.136296,127.872551,...,17.242956,110.476997,-70.192566,-38.453320,126.956993,-9.460737,-94.454781,94.607376,70.497757,-91.402931
20,241.706589,54.628128,105.441444,260.322876,110.171814,45.472576,234.229553,176.854752,8.850368,145.878464,...,18.463697,105.746628,-69.124420,-27.924435,143.436981,8.239997,-78.432564,105.594040,77.669601,-88.808861

In [13]:
df_r = df_eegs.round(1)
df_r.head()

,0,1,2,3,4,5,6,7,8,9,...,120054,120055,120056,120057,120058,120059,120060,120061,120062,120063
16,113.1,-64.7,-5.5,158.5,17.1,-37.8,161.3,117.5,-30.2,123.0,...,-13.7,72.9,-101.5,-65.3,93.5,-44.4,-126.5,58.7,23.3,-147.6
17,166.2,-28.7,21.7,176.1,20.4,-49.7,127.0,65.2,-99.0,36.8,...,36.6,116.3,-77.5,-42.0,115.1,-26.1,-112.6,78.4,34.3,-139.0
18,167.4,-23.7,28.2,185.9,39.4,-25.6,158.8,100.1,-59.1,80.6,...,7.9,94.0,-99.0,-77.8,88.5,-36.6,-115.1,64.7,25.5,-149.5
19,259.9,70.7,119.8,269.8,119.5,52.6,235.3,175.3,2.1,127.9,...,17.2,110.5,-70.2,-38.5,127.0,-9.5,-94.5,94.6,70.5,-91.4
20,241.7,54.6,105.4,260.3,110.2,45.5,234.2,176.9,8.9,145.9,...,18.5,105.7,-69.1,-27.9,143.4,8.2,-78.4,105.6,77.7,-88.8

In [14]:
df_r.iloc[0].values.nbytes / 1000000

0.960512

In [18]:
df_x = df_r.astype(int)

In [19]:
df_x.head()

,0,1,2,3,4,5,6,7,8,9,...,120054,120055,120056,120057,120058,120059,120060,120061,120062,120063
16,113,-64,-5,158,17,-37,161,117,-30,123,...,-13,72,-101,-65,93,-44,-126,58,23,-147
17,166,-28,21,176,20,-49,127,65,-99,36,...,36,116,-77,-42,115,-26,-112,78,34,-139
18,167,-23,28,185,39,-25,158,100,-59,80,...,7,94,-99,-77,88,-36,-115,64,25,-149
19,259,70,119,269,119,52,235,175,2,127,...,17,110,-70,-38,127,-9,-94,94,70,-91
20,241,54,105,260,110,45,234,176,8,145,...,18,105,-69,-27,143,8,-78,105,77,-88