In [48]:
import pandas as pd
import numpy as np

def input_dataframe() -> pd.DataFrame:
    num_cols = 500
    num_electrodes = 10
    elec_data = np.random.rand(num_electrodes, num_cols)
    cols = [i for i in range(num_cols)]
    return pd.DataFrame(elec_data, columns=cols)

in_df = pd.read_parquet("/home/jtt/Documents/datasets/brain_eegs_nafiul/patients/ep187/sample1/eegData.parquet", engine="pyarrow")
# in_df.reset_index(drop=True, inplace=True)

OSError: Could not open Parquet input source '<Buffer>': Couldn't deserialize thrift: TProtocolException: Exceeded size limit

In [28]:
in_df.head()

,0,1,2,3,4,5,6,7,8,9,...,120054,120055,120056,120057,120058,120059,120060,120061,120062,120063
0,253.761398,67.903679,104.525887,263.527313,122.531807,42.573318,221.106583,160.222168,-32.044434,71.718491,...,10.681478,110.476997,-69.887383,-42.420727,141.605881,17.700735,-74.159973,105.441444,80.416267,-91.097748
1,62.562943,-118.716995,-82.247375,76.906639,-59.358498,-140.232544,42.115540,-0.610370,-172.887344,-43.488873,...,0.305185,105.746628,-72.481453,-49.134796,120.700699,-7.629627,-106.204407,78.585159,59.358498,-117.801437
2,140.995514,-48.371834,-16.785179,138.859207,-7.782219,-95.522926,81.484413,31.586657,-153.202911,-37.537766,...,33.875546,137.485886,-37.537766,-12.970366,160.222168,33.875546,-64.394051,119.785141,104.831078,-71.260719
3,166.020691,-22.278511,16.632587,173.497711,26.856287,-50.355537,131.839951,79.195526,-95.675522,28.382212,...,43.031097,139.622177,-39.063690,-14.038513,156.254761,28.077026,-69.124420,109.561447,86.672562,-85.909599
4,168.462158,-16.937773,18.616289,172.734756,19.226660,-74.922935,97.048859,39.216282,-137.791061,-8.697775,...,2.288888,101.016258,-86.977745,-67.293312,110.476997,-12.970366,-108.188110,73.702194,44.709614,-129.551071

In [33]:
in_df.index

RangeIndex(start=0, stop=113, step=1)

In [39]:
in_df.iloc[in_df.index.isin([1,2,10]), 5:20]

,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,-140.232544,42.115540,-0.610370,-172.887344,-43.488873,32.807396,-152.592545,-115.207367,58.748127,-56.306648,-79.348122,215.460663,330.515442,261.085846,401.165802
2,-95.522926,81.484413,31.586657,-153.202911,-37.537766,21.362955,-175.634018,-142.521439,38.605911,-74.465157,-101.931816,150.761429,193.945114,76.448860,220.496216
10,-37.385174,140.079956,81.179230,-98.269592,22.125917,73.397011,-129.703659,-94.302193,71.108124,-59.511089,-95.828117,146.794022,187.231049,121.768845,346.690247

In [38]:
in_df.head(11)

,0,1,2,3,4,5,6,7,8,9,...,120054,120055,120056,120057,120058,120059,120060,120061,120062,120063
0,253.761398,67.903679,104.525887,263.527313,122.531807,42.573318,221.106583,160.222168,-32.044434,71.718491,...,10.681478,110.476997,-69.887383,-42.420727,141.605881,17.700735,-74.159973,105.441444,80.416267,-91.097748
1,62.562943,-118.716995,-82.247375,76.906639,-59.358498,-140.232544,42.115540,-0.610370,-172.887344,-43.488873,...,0.305185,105.746628,-72.481453,-49.134796,120.700699,-7.629627,-106.204407,78.585159,59.358498,-117.801437
2,140.995514,-48.371834,-16.785179,138.859207,-7.782219,-95.522926,81.484413,31.586657,-153.202911,-37.537766,...,33.875546,137.485886,-37.537766,-12.970366,160.222168,33.875546,-64.394051,119.785141,104.831078,-71.260719
3,166.020691,-22.278511,16.632587,173.497711,26.856287,-50.355537,131.839951,79.195526,-95.675522,28.382212,...,43.031097,139.622177,-39.063690,-14.038513,156.254761,28.077026,-69.124420,109.561447,86.672562,-85.909599
4,168.462158,-16.937773,18.616289,172.734756,19.226660,-74.922935,97.048859,39.216282,-137.791061,-8.697775,...,2.288888,101.016258,-86.977745,-67.293312,110.476997,-12.970366,-108.188110,73.702194,44.709614,-129.551071
5,220.496216,34.638508,79.500710,233.619171,75.533310,-16.022217,147.251801,72.023682,-113.834038,12.359996,...,12.359996,99.948112,-90.334785,-66.377754,106.357002,-22.736288,-117.801437,64.088867,36.622208,-132.450317
6,280.312500,75.380714,105.899223,262.459167,111.697739,22.583696,186.010300,108.951073,-92.623672,17.395550,...,0.915555,82.247375,-111.392555,-92.165894,84.688858,-41.199986,-138.706619,41.505173,24.414806,-146.031067
7,229.194000,31.128878,80.263680,251.167328,115.359962,42.268135,222.174744,148.319946,-48.982204,66.225159,...,13.580736,91.708115,-109.561447,-88.503670,84.688858,-47.914059,-148.472534,21.362955,-10.223701,-183.416229
8,-49.745167,-234.839920,-191.656235,-23.041473,-153.660690,-218.054733,-27.314064,-73.244415,-239.722885,-101.321449,...,6.256294,105.288849,-71.871086,-42.878502,134.281433,10.528885,-79.958488,100.863670,69.277016,-110.934776
9,-4.272591,-183.721420,-133.976257,32.197025,-103.305153,-170.445862,21.973326,-19.837030,-182.805862,-42.268135,...,3.051851,101.779221,-72.023682,-52.491833,115.665146,-13.275551,-110.629593,72.634048,46.388130,-132.450317
10,187.536224,-1.831110,37.690357,192.266602,42.420727,-37.385174,140.079956,81.179230,-98.269592,22.125917,...,7.477035,104.831078,-74.312569,-42.268135,128.635513,-2.746666,-94.912560,87.893303,59.663685,-116.580704

In [6]:
from spikexplorer_core.eeg import eeg

start_ms = None
end_ms = 10
electrodes = [0, 1, 2]
output_df = eeg.index_eeg(in_df, electrodes, start_ms, end_ms)

In [15]:
output = {}
for idx, row in output_df.iterrows():
    output[idx] = row.values.tolist()

In [16]:
output

{0: [0.44649372969425405,
  0.5662311983059444,
  0.05161627557777204,
  0.08184613808178243,
  0.8312323052220605,
  0.44028945076406456,
  0.6068080521832155,
  0.42507119580431363,
  0.36574982462018835,
  0.861621520881994],
 1: [0.22754535838518541,
  0.0838688538084651,
  0.7841882598133672,
  0.17981296807744862,
  0.20454433432363806,
  0.8725187964903017,
  0.7940137300084064,
  0.745802821213258,
  0.1496249889307424,
  0.7910841638976344],
 2: [0.9805130110380488,
  0.11050265380299407,
  0.005375622466506247,
  0.4198875419120843,
  0.3095937129765004,
  0.38149883524405404,
  0.09776267537801353,
  0.2704290981009735,
  0.5309892493246502,
  0.7079803545542178]}

In [6]:
in_df.loc[in_df.index in [0, 1],:]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [12]:
in_df.loc[in_df.index.isin([0,1,2]),0:10]

,0,1,2,3,4,5,6,7,8,9,10
0,0.527351,0.910616,0.489297,0.279300,0.458279,0.651957,0.435599,0.463699,0.325354,0.327381,0.787391
1,0.110935,0.976526,0.249930,0.833653,0.866357,0.387779,0.698517,0.367226,0.194208,0.971741,0.780843
2,0.328636,0.455582,0.348763,0.943384,0.661272,0.775068,0.504301,0.946348,0.905280,0.716214,0.969710

In [4]:
from spikexplorer_core.eeg import eeg

datadir = "/home/jtt/Documents/datasets/brain_eegs_nafiul"
patient = eeg.PatientRequest(datadir, "ep129", "sample1")
electrodes = [30,38]
start_ms = 10
num_records = 800

x = eeg.fetch_spike_times_by_electrodes(patient, electrodes, start_ms, num_records)

In [5]:
x.head()

    event  electrode  time
30      1         30   109
32      1         38   109
43      2         38   187
45      2         30   189
71      3         30   270

In [6]:
# x.electrode.isin(electrodes) & 
x.loc[(x.time >= 600) & (x.time <= 700) & (x.electrode.isin(electrodes))]

     event  electrode  time
164      7         30   624
166      7         38   624

In [9]:
electrodes

[7, 8]

In [7]:
peaks = {}
for idx, row in x.iterrows():
    if row.electrode not in peaks:
      peaks[row.electrode] = []
    peaks[row.electrode].append({"time": row.time, "event": row.event})

In [8]:
peaks

{30: [{'time': 109, 'event': 1},
  {'time': 189, 'event': 2},
  {'time': 270, 'event': 3},
  {'time': 369, 'event': 4},
  {'time': 441, 'event': 5},
  {'time': 534, 'event': 6},
  {'time': 624, 'event': 7},
  {'time': 704, 'event': 10},
  {'time': 781, 'event': 12}],
 38: [{'time': 109, 'event': 1},
  {'time': 187, 'event': 2},
  {'time': 370, 'event': 4},
  {'time': 443, 'event': 5},
  {'time': 533, 'event': 6},
  {'time': 624, 'event': 7}]}

In [9]:
x

     event  electrode  time
30       1         30   109
32       1         38   109
43       2         38   187
45       2         30   189
71       3         30   270
99       4         30   369
101      4         38   370
121      5         30   441
122      5         38   443
146      6         38   533
150      6         30   534
164      7         30   624
166      7         38   624
169     10         30   704
172     12         30   781